<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 应用操作任务配置信息 -->
<mapper namespace="com.mathbeta.microedge.mapper.AppTaskConfigMapper">
    <resultMap type="com.mathbeta.microedge.entity.AppTaskConfig" id="appTaskConfigResultMap">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="task_id" property="taskId" jdbcType="VARCHAR"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="app_version_id" property="appVersionId" jdbcType="VARCHAR"/>
        <result column="order" property="order" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--新增操作 -->
    <insert id="create" parameterType="com.mathbeta.microedge.entity.AppTaskConfig">
        insert into edge_app_task_config
        (`id`,`task_id`,`app_id`,`app_version_id`,`order`,`create_time`)
        values
        (#{id},#{taskId},#{appId},#{appVersionId},#{order},#{createTime})
    </insert>

    <!--更新操作-->
    <update id="update" parameterType="com.mathbeta.microedge.entity.AppTaskConfig">
        update edge_app_task_config
        <include refid="sql_update"/>
        where id = #{id}
    </update>

    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from edge_app_task_config where id =#{id}
    </delete>

    <!--删除-->
    <delete id="delete" parameterType="com.mathbeta.microedge.entity.AppTaskConfig">
        delete from edge_app_task_config
        <include refid="sql_where_and_equal"/>
    </delete>

    <!--根据id查询-->
    <select id="queryById"  resultMap="appTaskConfigResultMap">
        <include refid="sql_select"/>
        where s.id = #{id}
    </select>

    <!--获取数据条数-->
    <select id="count" parameterType="java.util.Map" resultType="int">
        select count(1) from edge_app_task_config t
        <include refid="sql_where_and_equal"/>
    </select>

    <!--根据条件查询-->
    <select id="query"  parameterType="java.util.Map" resultMap="appTaskConfigResultMap">
        <include refid="sql_select"/>
        <include refid="sql_where_and_equal"/>
        order by s.create_time desc
        <if test="__pageStart != null and __pageSize != null">
        limit #{__pageStart},#{__pageSize}
        </if>
    </select>

    <!--查询字段-->
    <sql id="sql_select">
        SELECT `id`,`task_id`,`app_id`,`app_version_id`,`order`,`create_time`        from edge_app_task_config s
    </sql>

    <!--查询条件-->
    <sql id="sql_where_and_equal">
        <where>
            <!--
            <if test="search != null and search != '' ">
                and (
                `id` like CONCAT('%', #{search}, '%')
				or `task_id` like CONCAT('%', #{search}, '%')
				or `app_id` like CONCAT('%', #{search}, '%')
				or `app_version_id` like CONCAT('%', #{search}, '%')
				or `order` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                and `id` = #{id}
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                and `task_id` = #{taskId}
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                and `app_id` = #{appId}
            ]]>
            </if>
            <if test="appVersionId != null">
            <![CDATA[
                and `app_version_id` = #{appVersionId}
            ]]>
            </if>
            <if test="order != null">
            <![CDATA[
                and `order` = #{order}
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                and `create_time` = #{createTime}
            ]]>
            </if>
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_equal">
        <where>
            <!--
            <if test="search != null and search != '' ">
                or (
                `id` like CONCAT('%', #{search}, '%')
				or `task_id` like CONCAT('%', #{search}, '%')
				or `app_id` like CONCAT('%', #{search}, '%')
				or `app_version_id` like CONCAT('%', #{search}, '%')
				or `order` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                or `id` = #{id}
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                or `task_id` = #{taskId}
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                or `app_id` = #{appId}
            ]]>
            </if>
            <if test="appVersionId != null">
            <![CDATA[
                or `app_version_id` = #{appVersionId}
            ]]>
            </if>
            <if test="order != null">
            <![CDATA[
                or `order` = #{order}
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                or `create_time` = #{createTime}
            ]]>
            </if>
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_and_like">
        <where>
            <!--
            <if test="search != null and search != '' ">
                and (
                `id` like CONCAT('%', #{search}, '%')
				or `task_id` like CONCAT('%', #{search}, '%')
				or `app_id` like CONCAT('%', #{search}, '%')
				or `app_version_id` like CONCAT('%', #{search}, '%')
				or `order` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                and `id` like CONCAT('%', #{id}, '%')
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                and `task_id` like CONCAT('%', #{taskId}, '%')
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                and `app_id` like CONCAT('%', #{appId}, '%')
            ]]>
            </if>
            <if test="appVersionId != null">
            <![CDATA[
                and `app_version_id` like CONCAT('%', #{appVersionId}, '%')
            ]]>
            </if>
            <if test="order != null">
            <![CDATA[
                and `order` like CONCAT('%', #{order}, '%')
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                and `create_time` like CONCAT('%', #{createTime}, '%')
            ]]>
            </if>
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_like">
        <where>
            <!--
            <if test="search != null and search != '' ">
                or (
                `id` like CONCAT('%', #{search}, '%')
				or `task_id` like CONCAT('%', #{search}, '%')
				or `app_id` like CONCAT('%', #{search}, '%')
				or `app_version_id` like CONCAT('%', #{search}, '%')
				or `order` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                or `id` like CONCAT('%', #{id}, '%')
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                or `task_id` like CONCAT('%', #{taskId}, '%')
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                or `app_id` like CONCAT('%', #{appId}, '%')
            ]]>
            </if>
            <if test="appVersionId != null">
            <![CDATA[
                or `app_version_id` like CONCAT('%', #{appVersionId}, '%')
            ]]>
            </if>
            <if test="order != null">
            <![CDATA[
                or `order` like CONCAT('%', #{order}, '%')
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                or `create_time` like CONCAT('%', #{createTime}, '%')
            ]]>
            </if>
        </where>
    </sql>

    <!--更新操作-->
    <sql id="sql_update">
        <set>
            <if test="id != null">
            <![CDATA[
                `id` = #{id},
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                `task_id` = #{taskId},
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                `app_id` = #{appId},
            ]]>
            </if>
            <if test="appVersionId != null">
            <![CDATA[
                `app_version_id` = #{appVersionId},
            ]]>
            </if>
            <if test="order != null">
            <![CDATA[
                `order` = #{order},
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                `create_time` = #{createTime},
            ]]>
            </if>
        </set>
    </sql>
</mapper>
