<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 运维任务明细信息 -->
<mapper namespace="com.mathbeta.microedge.mapper.AppTaskDetailMapper">
    <resultMap type="com.mathbeta.microedge.entity.AppTaskDetail" id="appTaskDetailResultMap">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="node_id" property="nodeId" jdbcType="VARCHAR"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="version_id" property="versionId" jdbcType="VARCHAR"/>
        <result column="task_id" property="taskId" jdbcType="VARCHAR"/>
        <result column="accepted" property="accepted" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="result" property="result" jdbcType="INTEGER"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--新增操作 -->
    <insert id="create" parameterType="com.mathbeta.microedge.entity.AppTaskDetail">
        insert into edge_app_task_detail
        (`id`,`node_id`,`app_id`,`version_id`,`task_id`,`accepted`,`status`,`result`,`reason`,`create_time`)
        values
        (#{id},#{nodeId},#{appId},#{versionId},#{taskId},#{accepted},#{status},#{result},#{reason},#{createTime})
    </insert>

    <!--更新操作-->
    <update id="update" parameterType="com.mathbeta.microedge.entity.AppTaskDetail">
        update edge_app_task_detail
        <include refid="sql_update"/>
        where id = #{id}
    </update>

    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from edge_app_task_detail where id =#{id}
    </delete>

    <!--删除-->
    <delete id="delete" parameterType="com.mathbeta.microedge.entity.AppTaskDetail">
        delete from edge_app_task_detail
        <include refid="sql_where_and_equal"/>
    </delete>

    <!--根据id查询-->
    <select id="queryById"  resultMap="appTaskDetailResultMap">
        <include refid="sql_select"/>
        where s.id = #{id}
    </select>

    <!--获取数据条数-->
    <select id="count" parameterType="java.util.Map" resultType="int">
        select count(1) from edge_app_task_detail t
        <include refid="sql_where_and_equal"/>
    </select>

    <!--根据条件查询-->
    <select id="query"  parameterType="java.util.Map" resultMap="appTaskDetailResultMap">
        <include refid="sql_select"/>
        <include refid="sql_where_and_equal"/>
        order by s.create_time desc
        <if test="__pageStart != null and __pageSize != null">
        limit #{__pageStart},#{__pageSize}
        </if>
    </select>

    <!--查询字段-->
    <sql id="sql_select">
        SELECT `id`,`node_id`,`app_id`,`version_id`,`task_id`,`accepted`,`status`,`result`,`reason`,`create_time`        from edge_app_task_detail s
    </sql>

    <!--查询条件-->
    <sql id="sql_where_and_equal">
        <where>
            <!--
            <if test="search != null and search != '' ">
                and (
                `id` like CONCAT('%', #{search}, '%')
				or `node_id` like CONCAT('%', #{search}, '%')
				or `app_id` like CONCAT('%', #{search}, '%')
				or `version_id` like CONCAT('%', #{search}, '%')
				or `task_id` like CONCAT('%', #{search}, '%')
				or `accepted` like CONCAT('%', #{search}, '%')
				or `status` like CONCAT('%', #{search}, '%')
				or `result` like CONCAT('%', #{search}, '%')
				or `reason` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                and `id` = #{id}
            ]]>
            </if>
            <if test="nodeId != null">
            <![CDATA[
                and `node_id` = #{nodeId}
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                and `app_id` = #{appId}
            ]]>
            </if>
            <if test="versionId != null">
            <![CDATA[
                and `version_id` = #{versionId}
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                and `task_id` = #{taskId}
            ]]>
            </if>
            <if test="accepted != null">
            <![CDATA[
                and `accepted` = #{accepted}
            ]]>
            </if>
            <if test="status != null">
            <![CDATA[
                and `status` = #{status}
            ]]>
            </if>
            <if test="result != null">
            <![CDATA[
                and `result` = #{result}
            ]]>
            </if>
            <if test="reason != null">
            <![CDATA[
                and `reason` = #{reason}
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                and `create_time` = #{createTime}
            ]]>
            </if>
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_equal">
        <where>
            <!--
            <if test="search != null and search != '' ">
                or (
                `id` like CONCAT('%', #{search}, '%')
				or `node_id` like CONCAT('%', #{search}, '%')
				or `app_id` like CONCAT('%', #{search}, '%')
				or `version_id` like CONCAT('%', #{search}, '%')
				or `task_id` like CONCAT('%', #{search}, '%')
				or `accepted` like CONCAT('%', #{search}, '%')
				or `status` like CONCAT('%', #{search}, '%')
				or `result` like CONCAT('%', #{search}, '%')
				or `reason` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                or `id` = #{id}
            ]]>
            </if>
            <if test="nodeId != null">
            <![CDATA[
                or `node_id` = #{nodeId}
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                or `app_id` = #{appId}
            ]]>
            </if>
            <if test="versionId != null">
            <![CDATA[
                or `version_id` = #{versionId}
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                or `task_id` = #{taskId}
            ]]>
            </if>
            <if test="accepted != null">
            <![CDATA[
                or `accepted` = #{accepted}
            ]]>
            </if>
            <if test="status != null">
            <![CDATA[
                or `status` = #{status}
            ]]>
            </if>
            <if test="result != null">
            <![CDATA[
                or `result` = #{result}
            ]]>
            </if>
            <if test="reason != null">
            <![CDATA[
                or `reason` = #{reason}
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                or `create_time` = #{createTime}
            ]]>
            </if>
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_and_like">
        <where>
            <!--
            <if test="search != null and search != '' ">
                and (
                `id` like CONCAT('%', #{search}, '%')
				or `node_id` like CONCAT('%', #{search}, '%')
				or `app_id` like CONCAT('%', #{search}, '%')
				or `version_id` like CONCAT('%', #{search}, '%')
				or `task_id` like CONCAT('%', #{search}, '%')
				or `accepted` like CONCAT('%', #{search}, '%')
				or `status` like CONCAT('%', #{search}, '%')
				or `result` like CONCAT('%', #{search}, '%')
				or `reason` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                and `id` like CONCAT('%', #{id}, '%')
            ]]>
            </if>
            <if test="nodeId != null">
            <![CDATA[
                and `node_id` like CONCAT('%', #{nodeId}, '%')
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                and `app_id` like CONCAT('%', #{appId}, '%')
            ]]>
            </if>
            <if test="versionId != null">
            <![CDATA[
                and `version_id` like CONCAT('%', #{versionId}, '%')
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                and `task_id` like CONCAT('%', #{taskId}, '%')
            ]]>
            </if>
            <if test="accepted != null">
            <![CDATA[
                and `accepted` like CONCAT('%', #{accepted}, '%')
            ]]>
            </if>
            <if test="status != null">
            <![CDATA[
                and `status` like CONCAT('%', #{status}, '%')
            ]]>
            </if>
            <if test="result != null">
            <![CDATA[
                and `result` like CONCAT('%', #{result}, '%')
            ]]>
            </if>
            <if test="reason != null">
            <![CDATA[
                and `reason` like CONCAT('%', #{reason}, '%')
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                and `create_time` like CONCAT('%', #{createTime}, '%')
            ]]>
            </if>
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_like">
        <where>
            <!--
            <if test="search != null and search != '' ">
                or (
                `id` like CONCAT('%', #{search}, '%')
				or `node_id` like CONCAT('%', #{search}, '%')
				or `app_id` like CONCAT('%', #{search}, '%')
				or `version_id` like CONCAT('%', #{search}, '%')
				or `task_id` like CONCAT('%', #{search}, '%')
				or `accepted` like CONCAT('%', #{search}, '%')
				or `status` like CONCAT('%', #{search}, '%')
				or `result` like CONCAT('%', #{search}, '%')
				or `reason` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                or `id` like CONCAT('%', #{id}, '%')
            ]]>
            </if>
            <if test="nodeId != null">
            <![CDATA[
                or `node_id` like CONCAT('%', #{nodeId}, '%')
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                or `app_id` like CONCAT('%', #{appId}, '%')
            ]]>
            </if>
            <if test="versionId != null">
            <![CDATA[
                or `version_id` like CONCAT('%', #{versionId}, '%')
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                or `task_id` like CONCAT('%', #{taskId}, '%')
            ]]>
            </if>
            <if test="accepted != null">
            <![CDATA[
                or `accepted` like CONCAT('%', #{accepted}, '%')
            ]]>
            </if>
            <if test="status != null">
            <![CDATA[
                or `status` like CONCAT('%', #{status}, '%')
            ]]>
            </if>
            <if test="result != null">
            <![CDATA[
                or `result` like CONCAT('%', #{result}, '%')
            ]]>
            </if>
            <if test="reason != null">
            <![CDATA[
                or `reason` like CONCAT('%', #{reason}, '%')
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                or `create_time` like CONCAT('%', #{createTime}, '%')
            ]]>
            </if>
        </where>
    </sql>

    <!--更新操作-->
    <sql id="sql_update">
        <set>
            <if test="id != null">
            <![CDATA[
                `id` = #{id},
            ]]>
            </if>
            <if test="nodeId != null">
            <![CDATA[
                `node_id` = #{nodeId},
            ]]>
            </if>
            <if test="appId != null">
            <![CDATA[
                `app_id` = #{appId},
            ]]>
            </if>
            <if test="versionId != null">
            <![CDATA[
                `version_id` = #{versionId},
            ]]>
            </if>
            <if test="taskId != null">
            <![CDATA[
                `task_id` = #{taskId},
            ]]>
            </if>
            <if test="accepted != null">
            <![CDATA[
                `accepted` = #{accepted},
            ]]>
            </if>
            <if test="status != null">
            <![CDATA[
                `status` = #{status},
            ]]>
            </if>
            <if test="result != null">
            <![CDATA[
                `result` = #{result},
            ]]>
            </if>
            <if test="reason != null">
            <![CDATA[
                `reason` = #{reason},
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                `create_time` = #{createTime},
            ]]>
            </if>
        </set>
    </sql>
</mapper>
