<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 命名空间 -->
<mapper namespace="com.mathbeta.microedge.mapper.NamespaceMapper">
    <resultMap type="com.mathbeta.microedge.entity.Namespace" id="namespaceResultMap">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--新增操作 -->
    <insert id="create" parameterType="com.mathbeta.microedge.entity.Namespace">
        insert into edge_namespace
        (`id`,`name`,`description`,`create_time`)
        values
        (#{id},#{name},#{description},#{createTime})
    </insert>

    <!--更新操作-->
    <update id="update" parameterType="com.mathbeta.microedge.entity.Namespace">
        update edge_namespace
        <include refid="sql_update"/>
        where id = #{id}
    </update>

    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from edge_namespace where id =#{id}
    </delete>

    <!--删除-->
    <delete id="delete" parameterType="com.mathbeta.microedge.entity.Namespace">
        delete from edge_namespace
        <include refid="sql_where_and_equal"/>
    </delete>

    <!--根据id查询-->
    <select id="queryById"  resultMap="namespaceResultMap">
        <include refid="sql_select"/>
        where s.id = #{id}
    </select>

    <!--获取数据条数-->
    <select id="count" parameterType="java.util.Map" resultType="int">
        select count(1) from edge_namespace t
        <include refid="sql_where_and_equal"/>
    </select>

    <!--根据条件查询-->
    <select id="query"  parameterType="java.util.Map" resultMap="namespaceResultMap">
        <include refid="sql_select"/>
        <include refid="sql_where_and_equal"/>
        order by s.create_time desc
        <if test="__pageStart != null and __pageSize != null">
        limit #{__pageStart},#{__pageSize}
        </if>
    </select>

    <!--查询字段-->
    <sql id="sql_select">
        SELECT `id`,`name`,`description`,`create_time`        from edge_namespace s
    </sql>

    <!--查询条件-->
    <sql id="sql_where_and_equal">
        <where>
            <!--
            <if test="search != null and search != '' ">
                and (
                `id` like CONCAT('%', #{search}, '%')
				or `name` like CONCAT('%', #{search}, '%')
				or `description` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                and `id` = #{id}
            ]]>
            </if>
            <if test="name != null">
            <![CDATA[
                and `name` = #{name}
            ]]>
            </if>
            <if test="description != null">
            <![CDATA[
                and `description` = #{description}
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                and `create_time` = #{createTime}
            ]]>
            </if>
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_equal">
        <where>
            <!--
            <if test="search != null and search != '' ">
                or (
                `id` like CONCAT('%', #{search}, '%')
				or `name` like CONCAT('%', #{search}, '%')
				or `description` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                or `id` = #{id}
            ]]>
            </if>
            <if test="name != null">
            <![CDATA[
                or `name` = #{name}
            ]]>
            </if>
            <if test="description != null">
            <![CDATA[
                or `description` = #{description}
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                or `create_time` = #{createTime}
            ]]>
            </if>
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_and_like">
        <where>
            <!--
            <if test="search != null and search != '' ">
                and (
                `id` like CONCAT('%', #{search}, '%')
				or `name` like CONCAT('%', #{search}, '%')
				or `description` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                and `id` like CONCAT('%', #{id}, '%')
            ]]>
            </if>
            <if test="name != null">
            <![CDATA[
                and `name` like CONCAT('%', #{name}, '%')
            ]]>
            </if>
            <if test="description != null">
            <![CDATA[
                and `description` like CONCAT('%', #{description}, '%')
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                and `create_time` like CONCAT('%', #{createTime}, '%')
            ]]>
            </if>
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_like">
        <where>
            <!--
            <if test="search != null and search != '' ">
                or (
                `id` like CONCAT('%', #{search}, '%')
				or `name` like CONCAT('%', #{search}, '%')
				or `description` like CONCAT('%', #{search}, '%')
				or `create_time` like CONCAT('%', #{search}, '%')
                )
            </if>
            -->
            <if test="id != null">
            <![CDATA[
                or `id` like CONCAT('%', #{id}, '%')
            ]]>
            </if>
            <if test="name != null">
            <![CDATA[
                or `name` like CONCAT('%', #{name}, '%')
            ]]>
            </if>
            <if test="description != null">
            <![CDATA[
                or `description` like CONCAT('%', #{description}, '%')
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                or `create_time` like CONCAT('%', #{createTime}, '%')
            ]]>
            </if>
        </where>
    </sql>

    <!--更新操作-->
    <sql id="sql_update">
        <set>
            <if test="id != null">
            <![CDATA[
                `id` = #{id},
            ]]>
            </if>
            <if test="name != null">
            <![CDATA[
                `name` = #{name},
            ]]>
            </if>
            <if test="description != null">
            <![CDATA[
                `description` = #{description},
            ]]>
            </if>
            <if test="createTime != null">
            <![CDATA[
                `create_time` = #{createTime},
            ]]>
            </if>
        </set>
    </sql>
</mapper>
